.title-home{
    text-shadow: 0 0 30px white, 0 0 10px black;
    font-size: 50px;
}
.logo-footer{
    width: 80%;
    display: block;
}
.logo-footer-responsive{
    display: none;
}
.title-footer{
    font-size: 18px;
}
.text-pils{
    font-size: 16px;
}
.follow-us{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.group-sosmed{
    text-align: center;
    margin-bottom: 20px;
}
.sosmed-footer{
    width: 4%;
}
.copyright{
    margin-top: 5px;
    color: black;
}
.text-tawaran{
    font-size: 30px;
}
.mengapa-memilih{
    margin: auto;
    font-size: 25px;
}
.img-alasan{
    width: 200px;
    margin: auto;
}
.tanya-cepat{
    font-size: 30px;
}
.btn-hub{
    margin: auto;
    margin-top: 30px;
}
/* PENYEDIA ----------------------------*/
.text-penyedia{
    position: absolute;
    right: 180px;
    top: 60px;
    color: black;
}
.title-penyedia{
    font-size: 28px;
}
.isi-penyedia{
    margin-bottom: 10px;
}
.penyedia-resp{
    display: none;
}

@media (max-width: 930px) {
    .penyedia-pc{
        display: none;
    }
    .penyedia-resp{
        background-image: linear-gradient(to bottom right, #f6c23e, transparent);
        display: unset;
    }
    .text-penyedia-resp{
        margin: 20px;
    }
    .img-penyedia-resp{
        width: 100%;
    }
    .title-penyedia-resp{
        color: black;
        font-size: 25px;
    }
    .isi-penyedia-resp{
        color: black;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .title-home{
        font-size: 30px;
        margin: auto;
    }
    .temukan-jasa{
        width: 90%;
    }
    .kategori-terpopuler{
        margin-top: 10px;
    }
    .logo-footer{
        display: none;
    }
    .logo-footer-responsive{
        width: 50%;
        display: block;
        margin: auto;
    }
    .title-footer{
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    .text-pils{
        font-size: 12px;
    }
    .sosmed-footer{
        width: 7%;
    }
    .text-tawaran{
        margin-top: 10px;
    }
    .tanya-cepat{
        font-size: 20px;
        text-align: center;
    }
    .btn-hub{
        margin-top: 10px;
        display: block;
    }

    /* PENYEDIA -----------------*/
    .penyedia-resp{
        background-image: linear-gradient(to bottom right, #f6c23e, transparent);
    }
    .text-penyedia-resp{
        margin: 0;
        padding: 20px;
        text-align: center;
    }
    .img-penyedia-resp{
        display: none;
    }
    .title-penyedia-resp{
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    .isi-penyedia-resp{
        color: black;
        margin-bottom: 10px;
    }
}

@media (max-width: 467px) {
    .sosmed-footer{
        width: 10%;
    }
    .mengapa-memilih{
        margin: auto;
        font-size: 20px;
    }

}